<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="@{/assets/img/favicon.png}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/icons/flags/flags.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">
	<link rel="stylesheet" th:href="@{/assets/plugins/fullcalendar/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
	
</head>

<body>
	
    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a th:href="@{/}" class="logo">
                    <img th:src="@{/assets/img/logo.png}" alt="Logo">
                </a>
                <a th:href="@{/}" class="logo logo-small">
                    <img th:src="@{/assets/img/logo-small.png}" alt="Logo" width="30" height="30">
                </a>
            </div>
            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>

            <ul class="nav user-menu">

                <li class="nav-item dropdown noti-dropdown me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img th:src="@{/assets/img/icons/header-icon-05.svg}" alt="">
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    th:src="@{/assets/img/profiles/avatar-02.jpg}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Carlson Tech</span> has
                                                    approved <span class="noti-title">your estimate</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                   
                                </li>
                                <li class="notification-message">

                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    th:src="@{/assets/img/profiles/avatar-11.jpg}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">International Software
                                                        Inc</span> has sent you a invoice in the amount of <span
                                                        class="noti-title">$218</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                </li>
                                <li class="notification-message">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    th:src="@{/assets/img/profiles/avatar-17.jpg}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Hendry</span> sent
                                                    a cancellation request <span class="noti-title">Apple iPhone
                                                        XR</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                </li>
                                <li class="notification-message">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    th:src="@{/assets/img/profiles/avatar-13.jpg}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Mercury Software
                                                        Inc</span> added a new product <span class="noti-title">Apple
                                                        MacBook Pro</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item zoom-screen me-2">
                    <a href="#" class="nav-link header-nav-list win-maximize">
                        <img th:src="@{/assets/img/icons/header-icon-04.svg}" alt="">
                    </a>
                </li>

                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img sec:authorize="hasRole('STUDENT')" class="rounded-circle" th:src="@{${user.picture} != null ? ${user.picture} : '/assets/img/profiles/unknown.png'}" width="31"
                                alt="Soeng Souy"/>     
                            <img sec:authorize="!hasRole('STUDENT')" th:src="@{/assets/img/profiles/unknown.png}" alt="User Image"
                                 class="avatar-img rounded-circle">
                                                  
                            <div class="user-text">
                                <h6 th:text="${user.firstName+' '+user.lastName}"></h6>
                                <p class="text-muted mb-0" sec:authorize="hasRole('CADRE_ADMINISTRATOR')">Cadre administrateur</p>	
                                <p class="text-muted mb-0" sec:authorize="hasRole('STUDENT')">Etudiant</p>
                                <p class="text-muted mb-0" sec:authorize="hasRole('TEACHER')">Professeur</p>                                
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img sec:authorize="hasRole('STUDENT')" th:src="@{${user.picture} != null ? ${user.picture} : '/assets/img/profiles/unknown.png'}" alt="User Image"
                                    class="avatar-img rounded-circle">
                                <img sec:authorize="!hasRole('STUDENT')" th:src="@{/assets/img/profiles/unknown.png}" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6 th:text="${user.firstName+' '+user.lastName}"></h6>
                                <p class="text-muted mb-0" sec:authorize="hasRole('CADRE_ADMINISTRATOR')">Cadre administrateur</p>	
                                <p class="text-muted mb-0" sec:authorize="hasRole('STUDENT')">Etudiant</p>
                                <p class="text-muted mb-0" sec:authorize="hasRole('TEACHER')">Professeur</p>                                
                            </div>
                        </div>
                        <a class="dropdown-item" th:href="@{/profile}">My Profile</a>
                        <a class="dropdown-item" href="">Inbox</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div sec:authorize="hasRole('CADRE_ADMINISTRATOR')" class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Menu Général</span>
                        </li>
                        <li class="submenu active">
                            <a th:href="@{/cadre-administrator}"><i class="feather-grid"></i> <span> Dashboard</span></a>
                        </li>
                        <!--<li class="submenu">
                            <a href="#"><i class="fas fa-graduation-cap"></i> <span> Administration</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/}"><i class="fas fa-list"></i> Consulter tous</a></li>
								<li><a th:href="@{/}"><i class="fas fa-user-plus"></i> Ajouter</a></li>
								<li><a th:href="@{/}"><i class="fas fa-archive"></i> Archive</a></li>
                            </ul>
                        </li>-->
                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Professeurs</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                              	<li><a th:href="@{/cadre-administrator/teachers}"><i class="fas fa-list"></i> Consulter tous</a></li>
								<li><a th:href="@{/cadre-administrator/teacher/add}"><i class="fas fa-user-plus"></i> Ajouter</a></li>
								<li><a th:href="@{/}"><i class="fas fa-archive"></i> Archive</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-graduation-cap"></i> <span> Etudiants</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                             	<li><a th:href="@{/cadre-administrator/students}"><i class="fas fa-list"></i> Consulter tous</a></li>
								<li><a th:href="@{/cadre-administrator/student/add}"><i class="fas fa-user-plus"></i> Ajouter</a></li>
								<li><a th:href="@{/}"><i class="fas fa-archive"></i> Archive</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-building"></i> <span> Départements</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li>
                                	<a href="departments.html">
                                		<i class="fas fa-calculator"></i> Math & Informatique
                                	</a>
                                </li>
                                <li>
                                	<a href="add-department.html">
                                		<i class="fas fa-atom"></i> Physique & Chimie
                                	</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> Filières</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="subjects.html">Subject List</a></li>
                                <li><a href="add-subject.html">Subject Add</a></li>
                                <li><a href="edit-subject.html">Subject Edit</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Gestion</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Comptes</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="fees-collections.html"><i class="fas fa-user-tie"></i> Administrateurs</a></li>
                                <li><a href="expenses.html"><i class="fas fa-chalkboard-teacher"></i> Professeurs</a></li>
                                <li><a href="salary.html"><i class="fas fa-graduation-cap"></i> Etudiants</a></li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/cadre-administrator/absences}"><i class="fas fa-table"></i> <span>Absences</span></a>
                        </li>
                        <li>
                            <a href="library.html"><i class="fas fa-book"></i> <span>Demandes</span></a>
                        </li>
                        <li class="menu-title">
                            <span>Autres</span>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fas fa-cog"></i> <span>Paramétres</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            
        	<div sec:authorize="hasRole('TEACHER')" class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Menu Général</span>
                        </li>
                        <li class="submenu active">
                            <a th:href="@{/teacher}"><i class="feather-grid"></i> <span> Dashboard</span></a>
                        </li>
                       
                        <li class="submenu">
                            <a href="#"><i class="fas fa-graduation-cap"></i> <span> Etudiants</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/cadre-administrator/students}">Student List</a></li>
                                <li><a href="student-details.html">Student View</a></li>
                                <li><a href="add-student.html">Student Add</a></li>
                                <li><a href="edit-student.html">Student Edit</a></li>
                            </ul>
                        </li>
                       
                        <li class="menu-title">
                            <span>Gestion</span>
                        </li>
                        
                        <li>
                            <a th:href="@{/teacher/absences}"><i class="fas fa-table"></i> <span>Absences</span></a>
                        </li>
                        <li>
                            <a href="library.html"><i class="fas fa-book"></i> <span>Demandes</span></a>
                        </li>
                        <li class="menu-title">
                            <span>Autres</span>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fas fa-cog"></i> <span>Paramétres</span></a>
                        </li>
                         <li hidden="true">
							<input type="hidden" id="teacher_id" th:value="${user.id}"/>	
                        </li>
                        
                    </ul>
                </div>
            </div>
            
            <div sec:authorize="hasRole('STUDENT')" class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Menu Général</span>
                        </li>
                        <li class="submenu active">
                            <a th:href="@{/student}"><i class="feather-grid"></i> <span> Dashboard</span></a>
                        </li>
                       
                        <li class="menu-title">
                            <span>Gestion</span>
                        </li>
                        
                        <li>
                            <a href="time-table.html"><i class="fas fa-table"></i> <span>Absences</span></a>
                        </li>
                      
                        <li class="submenu">
                            <a href="#"><i  class="fas fa-book"></i> <span> Demandes</span> 
                            	<span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a th:href="@{/cadre-administrator/students}">Effectuer une demande</a></li>
                                <li><a href="student-details.html">Consulter mes demandes</a></li>
                            </ul>
                        </li>
                        
                        <li class="menu-title">
                            <span>Autres</span>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fas fa-cog"></i> <span>Paramétres</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

		<div class="page-wrapper">
			<div layout:fragment="content" class="content container-fluid">
			
			</div>
             <footer>
                <p>Copyright © 2023 - Absence Management System ENSAH</p>
            </footer>
        </div>

    </div>

	 <!--Import jQuery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Data Table-->
    <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <!--Export table buttons-->
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
    <script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/feather.min.js}"></script>
    <script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>    
    <script th:src="@{/assets/js/moment.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/plugins/fullcalendar/fullcalendar.min.js}"></script>
	<script th:src="@{/assets/plugins/fullcalendar/jquery.fullcalendar.js}"></script>
	<script th:src="@{/assets/plugins/fullcalendar/teacher.fullcalendar.js}"></script>
    
</body>

</html>