<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>REGISTRATION</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>

<br>
<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<h1>Registration</h1>

				<form th:action="@{/registration}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="control-label" for="firstName"> First Name </label>
						<input id="firstName" class="form-control" th:field="*{firstName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName"> Last Name </label> <input
							id="lastName" class="form-control" th:field="*{lastName}"
							required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="firstNameAr"> First Name Arabic </label> <input
							id="firstNameAr" class="form-control" th:field="*{firstNameAr}"
							required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="lastNameAr"> First Name Arabic </label> <input
							id="lastNameAr" class="form-control" th:field="*{lastNameAr}"
							required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="phone"> Phone </label> <input
							id="phone" class="form-control" th:field="*{phone}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="email"> Email </label> <input
							id="email" class="form-control" th:field="*{email}" required
							autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<select class="form-select form-select-lg mb-3" 
						        aria-label=".form-select-lg example" id="role" th:field="*{role}">
						  <option th:value="'Choisir'" th:text="'Choisir votre role'" th:selected></option>
						  <option th:value="'CadreAdministrator'" th:text="'Cadre administrateur'"></option>
						  <option th:value="'Teacher'" th:text="'Professeur'"></option>
						  <option th:value="'Student'" th:text="'Etudiant'"></option>
						 
						</select>
					</div>
					
					<section id="fields">
						<div class="form-group cne">
				           <label class="control-label" for="cne">CNE</label>
			               <input id="cne" class="form-control" type="text" name="cne" th:field="*{cne}" />
					    </div>
					    <div class="form-group cin">
					       <label class="control-label" for="cin">CIN</label>
					       <input id="cin" class="form-control" type="text" name="cin" th:field="*{cin}" />
					    </div>
					    <div class="form-group birthDate">
					      <label class="control-label" for="birthDate">Birth Date</label>
				          <input id="birthDate" class="form-control" type="date" name="birthdate" th:field="*{birthdate}" />
			            </div>
			            <div class="form-group grade" >
					      <label class="control-label" for="grade">Grade</label>
					      <input id="grade" class="form-control" type="text" name="grade" th:field="*{grade}" />
					    </div>
					</section>
					

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>