<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <title>REGISTRATION</title>

    <link rel="shortcut icon" th:href="@{/assets/img/favicon.png}">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/plugins/feather/feather.css}">

    <link rel="stylesheet" th:href="@{/assets/plugins/icons/flags/flags.css}">

    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body>


    <div class="main-wrapper login-body">

        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" th:src="@{assets/img/login.png}" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Sign Up</h1>
                            <p class="account-subtitle">Enter details to create your account</p>

                            <form th:action="@{/registration}" method="post" th:object="${user}">
                                <div class="form-group">
                                    <label for="firstName">First name <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" id="firstName" th:field="*{firstName}"
                                        required autofocus="autofocus">
                                    <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last name <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" id="lastName" th:field="*{lastName}"
                                        required>
                                    <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                                </div>
                                <div class="form-group">
                                    <label for="firstNameAr">First name arabic <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" id="firstNameAr" th:field="*{firstNameAr}"
                                        required autofocus="autofocus">
                                    <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                                </div>
                                <div class="form-group">
                                    <label for="lastNameAr">Last name arabic <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" id="lastNameAr" th:field="*{lastNameAr}"
                                        required>
                                    <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" id="phone" th:field="*{phone}">
                                    <span class="profile-views"><i class="fas fa-phone"></i></span>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" id="email" th:field="*{email}" />
                                    <span class="profile-views"><i class="fas fa-envelope"></i></span>
                                </div>

                                <div class="form-group">
                                    <label for="role">Rôle <span class="login-danger">*</span></label>
                                    <select class="form-select" aria-label=".form-select-lg example"
                                        id="role" th:field="*{role}">
                                        <option th:value="'Choisir'" th:text="'Veuillez choisir votre rôle'" th:selected>
                                        </option>
                                        <option th:value="'CadreAdministrator'" th:text="'Cadre administrateur'">
                                        </option>
                                        <option th:value="'Teacher'" th:text="'Professeur'"></option>
                                        <option th:value="'Student'" th:text="'Etudiant'"></option>
                                    </select>
                                    <span class="profile-views"><i class="fas fa-user"></i></span>
                                </div>


                                <section id="fields">
                                    <div class="form-group cne">
                                        <label class="control-label" for="cne">CNE <span class="login-danger">*</span></label>
                                        <input id="cne" class="form-control" type="text" name="cne" th:field="*{cne}" />
                                    </div>
                                    <div class="form-group cin">
                                        <label class="control-label" for="cin">CIN <span class="login-danger">*</span></label>
                                        <input id="cin" class="form-control" type="text" name="cin" th:field="*{cin}" />
                                    </div>
                                    <div class="form-group birthDate">
                                        <label class="control-label" for="birthDate">Birth Date <span class="login-danger">*</span></label>
                                        <input id="birthDate" class="form-control" type="date" name="birthdate"
                                            th:field="*{birthdate}" />
                                    </div>
                                    <div class="form-group grade">
                                        <label class="control-label" for="grade">Grade <span class="login-danger">*</span></label>
                                        <input id="grade" class="form-control" type="text" name="grade"
                                            th:field="*{grade}" />
                                    </div>
                                </section>

                                <div class="form-group">
                                    <label>Password <span class="login-danger">*</span></label>
                                    <input class="form-control pass-input" type="password" id="password"
                                        th:field="*{password}">
                                    <span class="profile-views feather-eye toggle-password"></span>
                                </div>
                                
                                <div th:if="${successMessage}">
						            <div class="alert alert-info" th:text="${successMessage}"></div>
						        </div>
						        
								<div th:else th:if="${failedMessage}">
                                    <div class="alert alert-danger" th:text="${failedMessage}"></div>
                                </div>	
                                					        
                                <div class=" dont-have">Already Registered? <a href="/" th:href="@{/login}">Login</a>
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                                </div>
                            </form>

                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">or</span>
                            </div>

                            <div class="social-login">
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>

    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/assets/js/feather.min.js}"></script>

    <script th:src="@{/assets/js/script.js}"></script>
    
    <script th:src="@{/js/script.js}"></script>
    
</body>

</html>