<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main}"><head>
<meta charset="ISO-8859-1">
<title>AMS ENSAH | Teachers</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-sub-header">
						<h3 class="page-title">Teachers</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="students.html">Teacher</a></li>
							<li class="breadcrumb-item active">All Teachers</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="student-group-form">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Search by ID ...">
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Search by Name ...">
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Search by Phone ...">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="search-student-btn">
						<button type="button" class="btn btn-primary">Search</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table">
					<div class="card-body">

						<div class="page-header">
							<div class="row align-items-center">
								<div class="col">
									<h3 class="page-title">Teachers</h3>
								</div>
								<div class="col-auto text-end float-end ms-auto download-grp">
									<a href="#" class="btn btn-outline-primary me-2"><i
										class="fas fa-download"></i> Download</a> <a
										href="add-time-table.html" class="btn btn-primary"><i
										class="fas fa-plus"></i></a>
								</div>
							</div>
						</div>
						

						<div class="table-responsive">
							<table
								class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
								<thead class="student-thread">
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Email</th>
										<th>Subject</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Date</th>
										<th class="text-end">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="teacher: ${teachers}">
										<td th:text="${teacher.id}"></td>
										<td>
											<h2 class="table-avatar">
												<!-- <a class="avatar avatar-sm me-2"><img
													class="avatar-img rounded-circle"
													src="assets/img/profiles/avatar-01.jpg" alt="User Image"></a>-->
												<a th:text="${teacher.firstName+' '+teacher.lastName}"></a>
											</h2>
										</td>
										<td th:text="${teacher.email}"></td>
										<td>English</td>
										<td>10:00 AM</td>
										<td>01:00 PM</td>
										<td>23 Apr 2020</td>
										<td class="text-end">
											<div class="actions">
												<a href="javascript:;"
													class="btn btn-sm bg-success-light me-2"> <i
													class="feather-eye"></i>
												</a> <a href="edit-time-table.html"
													class="btn btn-sm bg-danger-light"> <i
													class="feather-edit"></i>
												</a> <a href="javascript:;"
													class="btn btn-sm bg-success-light me-2"> <i
													class="feather-trash"></i>
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>