<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>AMS ENSAH | Teacher Details</title>
<script type="text/javascript" th:src="@{/js/teachers.js}"></script>
<style>
#user-img{
    height: 150px;
    max-width: 150px;
    width: 150px;
    object-fit:cover;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-sub-header">
						<h3 class="page-title"><i class="fas fa-info-circle me-1"></i> Consultation des informations d'un professeur</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/cadre-administrator/teachers}">Professeurs</a></li>
							<li class="breadcrumb-item"><a th:href="@{/cadre-administrator/teachers}">Tous les professeurs</a></li>
							<li class="breadcrumb-item active">Détails professeur</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
					
						<div class="student-profile-head mt-3">
							<div class="profile-bg-img">
								<img th:src="@{/assets/img/ensah.jpg}" height="280" class="object-fit-cover" alt="Profile">
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-4">
									<div class="profile-user-box">
										<div class="profile-user-img">
											<img th:src="@{${teacher.picture} ? ${teacher.picture} : '/assets/img/profiles/unknown.png'}" id="user-img" alt="Profile">
											<div class="form-group students-up-files mb-0"></div>
										</div>
										<div class="names-profiles">
											<h4 th:text="${teacher.firstName+' '+teacher.lastName}"></h4>
											<h6 th:text="${teacher.firstNameAr+' '+teacher.lastNameAr}"></h6>
											<h5>Professeur</h5>
										</div>
									</div>
								</div>
								<div class="col"></div>
								<div class="col-lg-4 col-md-4 d-flex align-items-center justify-content-center">
									<i class="fas fa-calendar me-2"></i> Rejoint le <span class="ms-1 me-4" th:text="${#dates.format(teacher.createdAt, 'dd/MM/yyyy à HH:mm:ss')}"></span>
									<a th:href="@{/cadre-administrator/teacher/{id}/edit(id=${teacher.id})}">
										<i class="fas fa-edit"></i> 
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="student-personals-grp">
							<div class="card">
								<div class="card-body">
									<div class="heading-detail">
										<h4><i class="fas fa-info-circle me-1"></i> Informations personnelles :</h4>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-user"></i>
										</div>
										<div class="views-personal">
											<h4>Nom</h4>
											<h5 th:text="${teacher.firstName+' '+teacher.lastName}"></h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-home"></i>
										</div>
										<div class="views-personal">
											<h4>Département</h4>
											<h5>Mathématiques and Informatique</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Téléphone</h4>
											<h5 th:text="${teacher.phone}"></h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-mail"></i>
										</div>
										<div class="views-personal">
											<h4>Email</h4>
											<h5><a th:href="${'mailto:'+teacher.email}" th:text="${teacher.email}"></a></h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-hash"></i>
										</div>
										<div class="views-personal">
											<h4>CIN</h4>
											<h5 th:text="${teacher.cin}"></h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="student-personals-grp">
							<div class="card mb-0">
								<div class="card-body">
									<div class="heading-detail">
										<h4>Demandes :</h4>
									</div>
									<div class="skill-blk">
										<div class="table-responsive">
											<table
												class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
												<thead class="student-thread">
													<tr>
														<th>Type</th>
														<th>Contenu</th>
														<th>Justificatif(s)</th>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>
									</div>
									<div class="skill-blk text-center mt-3">
										<a href="#" class="btn">Voir plus</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="student-personals-grp">
							<div class="card mb-0">
								<div class="card-body">
									<div class="heading-detail">
										<h4><i class="fas fa-chalkboard-teacher me-1"></i> Modules & éléments enseignés</h4>
									</div>
									
									<div class="skill-blk">
										<div class="table-responsive">
											<table
												class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
												<thead class="student-thread">
													<tr>
														<th>Code</th>
														<th>Module</th>
														<th>Element</th>
														<th>Filière</th>
														<th>Niveau</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="element : ${teacher.elements}">
														<td th:text="${element.module.codeModule}"></td>
														<td th:text="${element.module.label}"></td>
														<td th:text="${element.label}"></td>
														<td th:text="${element.module.level.filiere.label}"></td>
														<td th:text="${element.module.level.alias}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
						
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>