<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>AMS ENSAH | Students</title>
<script type="text/javascript" th:src="@{/js/students.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-sub-header">
						<h3 class="page-title"><i class="fas fa-graduation-cap"></i> Consulter tous les étudiants</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/cadre-administrator/students}">Etudiants</a></li>
							<li class="breadcrumb-item active">Tous les étudiants</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="student-group-form">
			<div class="row">
				<div class="col-lg-10 col-md-6">
					<form id="search-form" th:action="@{/cadre-administrator/students}" method="get">
						<div class="form-group">
							<input type="text" class="form-control" name="query" th:value="${query}" placeholder="Search...." required/>
						</div>
					</form>
				</div>
				<div class="col-lg-2">
					<div class="search-student-btn">
						<button type="submit" form="search-form" class="btn btn-primary">Search</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table">
					<div class="card-body">

						<div class="page-header">
							<div class="row align-items-center">
								<div class="col">
									<h3 class="page-title"><i class="fas fa-clipboard me-1"></i> Liste des étudiants</h3>
								</div>
								<div class="col-auto text-end float-end ms-auto download-grp">
									<a th:href="@{/cadre-administrator/student/add}" class="btn btn-primary"><i
										class="fas fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
						
						<form th:action="@{/cadre-administrator/students/delete}" method="post" th:id="delete-student" hidden="true">
							<input type="hidden" id="student-to-delete" name="id">
						</form>
						
						<div th:if="${success}" class="alert alert-success text-center" role="alert">
							<span th:text="${success}"></span>
						</div>
						<div th:else th:if="${failed}" class="alert alert-danger text-center" role="alert">
							<span th:text="${failed}"></span>
						</div>
						
						<div class="table-responsive">
							<table
								class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
								<thead class="student-thread">
									<tr>
										<th>ID</th>
										<th>Nom en français</th>
										<th>Nom en arabe</th>
										<th>Email</th>
										<th>Téléphone</th>
										<th>Date de naissance</th>
										<th>CNE</th>
										<th>CIN</th>
										<th class="text-end">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="student: ${students}">
										<td th:text="${student.id}"></td>
										<td>
											<h2 class="table-avatar">
												<a class="avatar avatar-sm me-2" th:href="@{/cadre-administrator/student/{id}/details(id=${student.id})}">
                                                  	<img class="rounded-circle"
                                                      th:src="@{${student.picture} ? ${student.picture} : '/assets/img/profiles/unknown.png' }" width="25"
                                                      alt="Star Students">
                                              	</a>
												<a th:text="${student.fullName}"></a>
											</h2>
										</td>
										<td th:text="${student.firstNameAr+' '+student.lastNameAr}"></td>
										<td th:text="${student.email}"></td>
										<td th:text="${student.phone}"></td>
										<td th:text="${#dates.format(student.birthDate,'dd/MM/yyyy')}"></td>
										<td th:text="${student.cne}"></td>
										<td th:text="${student.cin}"></td>
										<td class="text-end">
											<div class="actions">
												<a th:href="@{/cadre-administrator/student/{id}/details(id=${student.id})}"
													class="btn btn-sm bg-success-light me-2"> <i
													class="feather-eye"></i>
												</a> 
												<a th:href="@{/cadre-administrator/student/{id}/edit(id=${student.id})}"
													class="btn btn-sm bg-danger-light"> <i
													class="feather-edit"></i>
												</a> 
												<button type="submit"
													th:id="${student.id}"
													form="delete-student"
													th:onclick="'return deleteStudent(' + ${student.id} + ')'"
													class="btn btn-sm bg-success-light me-2"> <i
													class="feather-trash"></i>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>