<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>AMS ENSAH | Absences</title>
<script type="text/javascript" th:src="@{/js/students.js}"></script>
<script th:inline="javascript">
document.addEventListener("DOMContentLoaded", function() {
    var mySelect = document.getElementById("select-student-element");
    var selectedOptgroupInput = document.getElementById("selectedOptgroup");
    
    mySelect.addEventListener("change", function() {
    	console.log("changed")
        var selectedOptgroup = mySelect.options[mySelect.selectedIndex].parentElement.getAttribute("value");;
        selectedOptgroupInput.value = selectedOptgroup;
    });
});
</script>
<style>
#user-img {
	height: 150px;
	max-width: 150px;
	width: 150px;
	object-fit: cover;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div id="page-header" class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-sub-header">
						<h3 class="page-title">
							<i class="fas fa-info-circle me-1"></i> Consultation des fiches
							des absences
						</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
							<li class="breadcrumb-item active">Absences</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-table">
			<div class="card-body">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title">
								<i class="fas fa-clipboard me-1"></i> Liste des professeurs
							</h3>
						</div>
						<div class="col-auto text-end float-end ms-auto download-grp">
							<a th:href="@{/cadre-administrator/teacher/add}"
								class="btn btn-primary"><i class="fas fa-plus"></i> </a>
						</div>
					</div>
				</div>

				<div class="table-responsive">
					<table
						class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
						<thead class="student-thread">
							<tr>
								<th>ID</th>
								<th>Professeur</th>
								<th>Email</th>
								<th class="text-end">Fiche d'absences</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="teacher: ${teachers}" th:class="(${teacherChoosen} != null and ${teacherChoosen.id} == ${teacher.id}) ? 'bg-light' : ''">
								<td th:text="${teacher.id}"></td>
								<td><a href="#"
									th:text="${teacher.firstName+' '+teacher.lastName}"></a></td>
								<td th:text="${teacher.email}"></td>
								<td class="text-end">
									<div class="actions">
										<a
											th:href="@{${'/cadre-administrator/absences?teacher='+teacher.id}}"
											class="btn btn-sm bg-success-light me-2"> <i
											class="feather-eye"></i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
		
		<div th:if="${success}" class="alert alert-success text-center" role="alert">
			<span th:text="${success}"></span>
		</div>
		<div th:else th:if="${failed}" class="alert alert-success text-center" role="alert">
			<span th:text="${failed}"></span>
		</div>

		<div th:if="${teacherChoosen}" class="row mb-3">
			<div class="col-lg-12">
				<div class="student-personals-grp">
					<div class="card mb-0">
						<div class="card-body">
							<div class="heading-detail mb-3">
								<h4>
									<i class="fas fa-clipboard me-1"></i> Fiche d'absence
								</h4>
							</div>
							<div class="mb-5 text-center">
								<div class="row w-50 m-auto">
									<div class="col"><span class="badge badge-light">Séance de cours</span></div>
									<div class="col"><span class="badge badge-success">Séance de TD</span></div>
									<div class="col"><span class="badge badge-info">Séance de TP</span></div>
									<div class="col"><span class="badge badge-warning">Devoir surveillé</span></div>
									<div class="col"><span class="badge badge-danger">Examen unifié</span></div>
								</div>
							</div>
							
							<div id="note" hidden="true"></div>	

							<div id="calendar"></div>

						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${teacherChoosen}" class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Enregistrer une absence</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" onclick="$('#myModal').modal('hide');">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					 <div class="modal-body text-center">
				        <h4 class="text-muted" id="clickedDateTime"></h4>
				     </div>
					<div class="modal-body">
						<form id="absence-form" th:action="@{/cadre-administrator/absences/add}" method="post" th:object="${absence}">
														
							<div class="form-group">
								<label for="teacher" class="ms-1">Professeur <span class="login-danger">*</span></label>
								<select th:field="*{teacher}" class="form-select" id="teacher" aria-label="Default select example">
								  <option th:value="${teacherChoosen.id}"  th:text="${teacherChoosen.getFullName()}" selected></option>
								</select>
							</div>
							<div class="form-group">
								<label for="student" class="ms-1">Etudiant(s) <span class="login-danger">*</span></label>
								<select multiple="multiple" size="10" name="registrations" class="form-select" id="select-student-element">
								    <optgroup th:each="element : ${teacherChoosen.elements}" th:value="${element.id}" th:label="${element.label}">
					                    <option th:each="registration : ${element.module.level.registrations}" 
					                    	    th:value="${registration.id}" th:text="${registration.student.getFullName()}">
					                    </option>
					     	        </optgroup>
								</select>
								<input type="hidden" id="selectedOptgroup" th:field="*{element}" />
								<input type="hidden" id="startDate" name="startDate" th:field="*{startString}">
							</div>
							<div class="form-group">
								<label for="teacher" class="ms-1">Séance <span class="login-danger">*</span></label>
								<select  th:field="*{session}" class="form-select" id="teacher" aria-label="Default select example">
								  	<option value="0" selected disabled>Choisir le type de séance</option>
								  	<option th:each="sessionType : ${sessionTypes}"  th:value="${sessionType.id}"   th:text="${sessionType.label}"></option>
								</select>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" onclick="$('#myModal').modal('hide');">Annuler</button>
						<button type="submit" form="absence-form" class="btn btn-primary">Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="manual-guide" tabindex="-1" role="dialog"
			aria-hidden="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h5 class="modal-title">
							<i class="fas fa-flag-checkered"></i> Guide d'utilisation de la
							fiche d'absences électronique
						</h5>
					</div>
					<div class="modal-body">
					  <p class="mb-0">Bonjour <b th:text="${user.firstName}"></b>,</p>
					  <p>Voici quelques instructions pour utiliser le système de gestion des absences.</p>
					
						<ul class="list-group">
							<li class="list-group-item"><strong><i class="fas fa-hand-point-right"></i> Ajouter une
									nouvelle absence</strong> <br>Cliquez sur une date dans le calendrier,
								puis remplissez les informations requises.</li>
							<li class="list-group-item"><strong><i class="fas fa-hand-point-right"></i> Supprimer une
									absence</strong> <br>Cliquez <b class="text-danger">deux fois</b> sur une absence dans le calendrier.<br>
									Cliquez sur "Confirmer" pour supprimer définitivement l'absence.</li>
							<li class="list-group-item"><strong><i class="fas fa-hand-point-right"></i> Afficher le
									statut d'une absence</strong> <br>Cliquez <b class="text-danger">une fois</b> sur une absence pour afficher un message indiquant son statut (justifiée ou non).
							</li>
						</ul>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	
</body>
</html>